<main role="main" class="inner cover">
  <img src="assets/images/logo.png" />
  <h1 class="cover-heading">Visitor Management System</h1>
  <span class="lead">
    Visitor Management System App for storing Employee & Visitor Records,
    Picture Attendance with GPS Locations
    <br /><br />
    <h2>Objective</h2>
    Store all visitor & employee records electronically.<br />
    1. Paperless Records for Visitors and Host<br />
    2. Save Visits with Pictures and GPS Locations<br />
    3. Online and/or Offline App<br />
    4. One App for multiple platforms (iOS, Android, Desktop, Cloud etc.)<br />
    5. Unlimited Storage (only limited to server/database hosting).<br />
    6. Store and Access millions of records instantly.<br />
    7. Paperless and Mobile on-premise App.<br />
    8. Instant access to ALL guest/employee historical records at guest
    check-in.<br />
    9. No Thumb expressions or card punching to verify identify.<br />
    10. Auto Face Recogniziion (Pro version only).<br />
  </span>
</main>
